*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  align-items: flex-end;
  grid-template-columns: 711px auto;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  grid-area: result;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  width: 711px;
  height: 399px;
  position: relative;
  padding-bottom: 14px;
}

.result__video {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content__list {
  display: grid;
  gap: 30px;
  position: relative;
  padding-bottom: 28px;
}

.content__list-container {
  position: relative;
  height: 300px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
  flex-grow: 1;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 6px;
  line-height: 21.6px;
  font-style: normal;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 225px;
  height: 27px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 21.6px;
  appearance: none;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-style: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
  width: 196px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:active {
  text-decoration: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.button {
  min-width: 194px;
  min-height: 34px;
  align-self: self-end;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  font-style: inherit;
  line-height: 21.6px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px double #fff;
}

.search-form__textfield:focus {
  outline: none;
  caret-color: #fff;
}

.more-button {
  min-width: 399px;
  min-height: 34px;
}

.more-button:focus {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link.focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
